:root {
    --gbs-green: #CCCC00;
    --gbs-gray-dark: #717171; /*  gray50 */
    --gbs-gray-light: #CCCCCC; /*  gray25 */

    --river-blue:  #006699;
    --poppy-red: #CC3333;

    --white: #FFFFFF;
    --black: #000000;
}

html {
    font-size: 16px;
}

.slider_with_value {
    display: flex;
    align-items: center;
    width: 100%;
}

.slider_out {
    flex: 1;
    text-align: right;
}

body {
    font-size: 1rem;
    background-color: var(--white);
    font-family: Arial, sans-serif;
    color: var(--black);
    align-items: center;
    margin-bottom: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}


h1 {
    color: var(--black);
    background-color: var(--gbs-green);
    margin: 30px 0;
    padding: 10px;
    font-size: 2rem;
    width: 85%;
    text-align: center;
}

h2 {
    color: var(--black);
    font-size: 1.5rem;
}

img {
    width: 10%;
    display: block;
    align-self: end;
    margin: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--white);
    margin: 20px 0;
}

#container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 40px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.shutters {
    display: flex;
    flex-direction: row;
}

.shutter {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%; 
    width: 90%;
}

button {
    border-width: 4px;
    background-color: var(--gbs-gray-light);
    color: var(--black);
    padding: 1%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    margin: 1.5%;
}


.up-button {
    color: var(--river-blue);
    border-color: var(--river-blue);
}
.down-button {
    color: var(--poppy-red);
    border-color: var(--poppy-red);
}
.stop-button {
    color: var(--black);
    border-color: var(--black);
}

.time-slider {
    -webkit-appearance: none;
    appearance: none;
    background: var(--gbs-gray-dark);
    cursor: pointer;
    height: 10px;
    border-radius: 0;
    width: 93%;
    margin: 3% 0;
}

.time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--gbs-green);
    cursor: pointer;
}

.time-slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: var(--gbs-green);
    cursor: pointer;
}

button:hover {
    color: var(--white);
    background-color: var(--gbs-gray-dark);
}

@media (max-width: 800px) {
    * {
    box-sizing: border-box;
    }
    #container {
        flex-direction: column;
        align-items: center;
    }

    html {
        font-size: 1.2rem;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 20%;
        margin: 10px;
    }

    button {
        width: 100%;
        margin: 10px 0;
        padding: 3%;
    }

    h1 {
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .time-slider {
        width: 100%;
    }

    .slider_with_value {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .slider_out {
        flex: none;
        align-self: normal;
        text-align: end;
    }

}
